@{
    ViewData["Title"] = "Details Commission";
}

<div>
    <center>
        <img class="logo" src="~/img/management.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Details Commission. working on it...</h1>
</div>
