@{
    ViewData["Title"] = "COMMISSION INFO";
}


<div class="container">
    <div class="content text-justify">
        <h1 class="text-bold">COMMISSION INFO</h1></br>

        <h4 class="text-bold">IMPORTANT</h4>        
        
        <div class="text">
            <ul>
                <li>You MUST be of legal age in order to view and/or purchase my work.</li>
                <li>The work is for personal use and distribution, not for commercial use.</li>
                <li>I have the right to refuse any commission request I'm uncomfortable working with.</li>
                <li>I may or may not publish the finished commission piece as a future commission sample. Please state beforehand if you do not want your commission piece to be published.</li>                
            </ul>
        </div>
        </br>

        <h4 class="text-bold">PAYMENT</h4>
        <div class="text-body">
            <ul>
                <li>Full payment upfront.</li>
                <li>The price can change depending on the level of complexity of the commission. Extra interacting limbs and figures, detailed accessories or props, etc. will take more time than just half a character.</li>                
            </ul>
        </div>
        </br>

        <h4 class="text-bold">PRODUCTs AND PRICEs</h4>
        <div class="text-body">
            <ul>
                <li>face sketch: simple base sketch (€5 EUR) | additional charges for colour (€10 EUR)</li>
                <li>detailed face, stylized (only in monochrome!) - pencil (€20 EUR) or ink (€25 EUR)</li>
                <li>realistic portraits (only in monochrome!): €50 EUR</li>
                <li>waist up: sketch/lineart (€20 EUR) | additional charges for colour (€20 EUR) </li>
                <li>full body: sketch/line (€40 EUR) | additional charges for colour (€20 EUR)</li>                
            </ul>
        </div>
        </br>

        <h4 class="text-bold">COMMISSION PROCESS</h4>
        <div class="text-body">
          <ul>
                <li> Submit the form.</li>
                <li>Depending on the type of commission I'll sketch out 2-4 rough thumbnails.</li>
                <li>You can go over the thumbs and choose what you like. At this point we figure out if you want flourishes or not! Once a thumb is picked I'll invoice you and officially start the commission once the payment is accepted.</li>
                <li>The commission may take anything between a few weeks to a few months to complete since these commissions are done between regular work.</li>
                <li> I'll update you at least twice on the piece as it comes together and you can request revisions for missing or inaccurate details important to the character. Big adjustments like moving limbs in perspective, new head angles, sudden significant wardrobe change will have extra charges. Sometimes no charge or adjustment is made if I don't think it</li>                
            </ul>
        </div>
        </br>

        <h4 class="text-bold">REFUNDS</h4>
        <div class="text-body">
            <ul>
                <li>Full refunds are given if I cannot continue your commission due to unforeseeable circumstances.</li>
                <li> If the commissioner demands repeatedly for adjustments and additions that weren't previously agreed upon or ultimately changes their mind on what the commission should be midway through, no refund will be offered and the commission will be cancelled.</li>
                <li>You can go over the thumbs and choose what you like. At this point we figure out if you want flourishes or not! Once a thumb is picked I'll invoice you and officially start the commission once the payment is accepted.</li>
                <li>The commission may take anything between a few weeks to a few months to complete since these commissions are done between regular work.</li>
                <li> I'll update you at least twice on the piece as it comes together and you can request revisions for missing or inaccurate details important to the character. Big adjustments like moving limbs in perspective, new head angles, sudden significant wardrobe change will have extra charges. Sometimes no charge or adjustment is made if I don't think it</li>                
            </ul>
        </div>
        </br>
                
        <div class="text-body">
            If you have any questions, concerns please contact me.
        </div>
        </br>

    </div>
</div>