@{
    ViewData["Title"] = "";
}

<div>
    <center>
        <img class="logo" src="~/img/best-employee.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Your commission was submited successfully!</h1>
</div>
