@{
    ViewData["Title"] = "Welcome to ADMIN AREA";
}

<div>
    <center>
        <img class="logo" src="~/img/security.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Area</h1>
</div>