@{
    ViewData["Title"] = "";
}
<div>
    <center>
        <img class="logo" src="~/img/ArtOrderLogo.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to ArtOrder</h1>
    <p>ArtOrder is an online marketplace, where people come together to make, sell, buy, and collect unique items.</p>
</div>
