@using ArtOrder03.Core.Models.Home
@model IndexViewModel

@{

    ViewData["Title"] = "";
}

<div class="mb-5"></div>
<div class="jumbotron">
    <div class="row">
        <h6 class="col-md-12 text-center">
            We have <u>@Model.TotalProducts Products</u> and have <u>@Model.TotalCommissions Commissions</u> submited through our website.
        </h6>
    </div>
</div>
</br>

<div>
    <center>
        <img class="logo" src="~/img/ArtOrderLogo.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to ArtOrder</h1>
    <p>ArtOrder is an online marketplace, where people come together to make, sell and buy art.</p>
</div>
