@{
    ViewData["Title"] = "";
}

<div>
    <center>
        <img class="logo" src="~/img/management.png">
    </center>
</div>

<div class="text-center">
    <h1 class="display-4">Oops! Something went wrong...</h1>
</div>
