@using ArtOrder03.Core.Models.Products
@model AddProductFormModel

@{
    ViewData["Title"] = "Add Product Page";
}
@*
public string Name { get; set; }

        public string CategoryId { get; set; }

        public string Description { get; set; }

        public string ImageUrl { get; set; }        

        public string Price { get; set; }*@

<div calss="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>
            
            <form method="post">
                @*IMAGE*@

                @*Title*@
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name:</label>
                    <input type="email" class="form-control" placeholder="Use up to 4 words to describe the product...">
                </div>                
                <br/>
                @*Category*@
                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>choose Category here...</option>                        
                        <option value="1">Prints</option>
                        <option value="2">Stickers</option>
                        <option value="3">Pins</option>
                        <option value="4">Magnets</option>
                    </select>
                </div>
                <br/>    
                @*Description*@
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description:</label>                    
                    <textarea asp-for="Description" class="form-control" placeholder="Describe the product here..." rows="3"></textarea>
                </div>

                @*PRICE*@
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                </div>

                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>